/* Page Layout */
body, html
{
	margin: 0 auto;
	padding: 0;
	font-size: 10pt;
}
#bodyWrap
{
	position: relative;
}
#canvasContent
{
	position: absolute;
	top: 0px;
	left: 224px;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
#canvas
{
	background-color: #000000;
	margin: 0 auto;
}
#mapCanvas
{
	background-color: #000000;
	margin: 0 auto;
	cursor: pointer;
}
#interfaceFrame
{
	width: 224px;
	position: absolute;
	left: 0px;
	top: 0px;
}
#mapWindow
{
	height: 128px;
	width: 100%;
}
#toolboxWindow
{
	height: 380px;
	padding: 4px;
	overflow: auto;
}
#cityName
{
	font-size: 12pt;
	height: 20px;
	text-align: center;
	padding: 0;
	margin: 0;
	border: none;
}
#priceOverlay
{
	position: absolute;
	height: 20px;
}
.center
{
	text-align: center;
}
.left
{
	text-align: left;
}
.right
{
	text-align: right;
}
.toolbox-icon
{
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
}
.icon-size1
{
	width: 34px;
	height: 34px;
}
.icon-size2
{
	width: 56px;
	height: 24px;
}
.icon-size3
{
	width: 42px;
	height: 42px;
}
.icon-size4
{
	width: 58px;
	height: 58px;
}
.icon-size5
{
	width: 34px;
	height: 50px;
}
